.card > a {
    text-decoration: none;
    color: black;
}

.card-img {
    /* height: 150px; */
    object-fit: contain;
    border-radius: 50%;
    max-width: 50px;
}

.tutor-div {
    color:red;
}

.flex-container {
    display: flex
}

.container {
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
}

.profile {
    padding: 2px
}

.username-text {
    padding: 8px 16px;
}


#profile-nav-img {
    max-height: 25px;
    max-width: 25px;
    border-radius: 50%;
}

#profile-img {
    max-height: 250px;
    max-width: 250px;
    border-radius: 50%;
}


.profile-text {
    color: rgba(0,0,0,.5);
}

.navbar{
    background-color: #e3f2fd;
    border-bottom: 1px solid rgba(0,0,0,.1);
}

.dropdown-toggle::after {
    color: rgba(0,0,0,.5);
}

td > label {
    margin: 0;
}

.create-listing-btn {
    width: 100%;
}

.create-listing-btn-td {
    vertical-align:bottom;
}

.winner {
    background-color: gold;
    text-align: center;
}

/* listing table */
.listing-table {
    min-width: 930px;
}

.category-data {
    width:250px;
}

.title-data {
    min-width: 200px;
}

.due_date-data {
    width: 175px;
}

.listing-img {
    max-height: 300px;
    max-width: 300px;
}

.title-data {
    text-align: center;
}

.profile-tag-view {
    float: left;
    border-right: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
    border-bottom-right-radius: 25px;
    padding: 20px;
    background-color:#FFFFE0;
}
body {
    background-color: #eeebcf;
}
.profile-title-view, #tagline-view {
    text-align: center;
}

#tagline-view {
    margin-top: 20px;
}

.nav-link.active {
    background-color: #8FBC8F;
}

.pagination {
    justify-content: center;
}