{% extends "auctions/layout.html" %}

{% block body %}

    <div class="container">
        <h2>Create Listing</h2>

        <!-- @TODO: insert these queries using js -->
        <!-- @TODO: can't quite figure out how to center this -->
        <form action="{% url 'create' %}" method="post">
            {% csrf_token %}
            <table class="listing-table">
                <tr>
                    <td class="category-data">
                        {{ form.category.label_tag }}
                        {{ form.category }}
                    </td>
                    <td colspan="3" class="title-data">
                        {{ form.title.label_tag }}
                        {{ form.title }}
                    </td>
                    <td class="due_date-data">
                        {{ form.due_date.label_tag }}
                        {{ form.due_date }}
                    </td>
                </tr>
                <tr>
                    <td colspan="5">
                        {{ form.goal.label_tag }}
                        {{ form.goal }}
                    </td>
                </tr>
                <tr>
                    <td colspan="4" rowspan="2">
                        {{ form.description.label_tag }}
                        {{ form.description }}
                    </td>
                    <td>
                        {{ form.image_url.label_tag }}
                        {{ form.image_url }}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ form.tutoring_time.label_tag }}
                        {{ form.tutoring_time }}
                    </td>
                </tr>
                <tr>
                    <td colspan="3"></td>
                    <td>
                        {{ form.starting_bid.label_tag }}
                        {{ form.starting_bid }}
                    </td>
                    <td class="create-listing-btn-td">
                        <input class="btn btn-primary create-listing-btn" type="submit" value="Create Listing">
                    </td>
                </tr>
                
            </table>
        </form>
    </div>
{% endblock %}