{% extends "auctions/layout.html" %}

{% block body %}
    <div class="container">
        <!-- is listing open -->
        {% if listing.bid_winner == user %}
            <div class="winner">
                <h1>You won this auction!</h1>
                <p>Contact <a href="{% url 'profile' listing.seller.id %}">{{ listing.seller.username }}</a> for more details</p>
            </div>
        {% elif not listing.active %}
            <div class="alert alert-danger" role="alert">
                This listing is no longer active.
            </div>
        {% endif %}

        <table class="listing-table">
            <tr>
                <td class="category-data">
                    {% if listing.category %}
                        <strong>Category: </strong>{{ listing.category }}
                    {% else %}
                        no category specified
                    {% endif %}
                </td>
                <td colspan="3" class="title-data">
                    <h3>{{ listing.title }}</h3>
                </td>
                <td class="due_date-data">
                    due: {{ listing.due_date }}
                </td>
            </tr>
            <tr>
                <td colspan="5">
                    <a href="{% url 'profile' listing.seller.id %}"><strong>{{ listing.seller }}</strong></a>'s goal: {{ listing.goal }}
                </td>
            </tr>
            <tr>
                <td colspan="4" rowspan="2">
                    <strong>Description:</strong> {{ listing.description }}
                </td>
                <td class="listing-img">
                    {% if listing.image_url %}
                        <img src="{{ listing.image_url }}">
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>
                </td>
            </tr>
            <tr>
                <td colspan="3"></td>
                <td>
                    <h3>${{ listing.starting_bid }}/h for {{ listing.tutoring_time }}</h3>
                </td>
                <td class="create-listing-btn-td">
                </td>
            </tr>
            
        </table>

        <!-- I really need to clean this page up. There is a lot that's repeated -->
        {% if on_watchlist %}
            <div>
                <span class="badge badge-secondary">On Your Watchlist</span>
            </div>
        {% endif %}
        
        <br>
        
        {% if user.is_authenticated %}
            {% if on_watchlist %}
                <form action="{% url 'watchlist_delete' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="listing_id" value="{{ listing.id }}">
                    <input class="btn btn-sm btn-primary" type="submit" value="Remove from Watchlist">
                </form>
            {% else %}
                <form action="{% url 'watchlist_add' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="listing_id" value="{{ listing.id }}">
                    <input class="btn btn-sm btn-primary" type="submit" value="Add to Watchlist">
                </form>
            {% endif %}
        {% endif %}


        {% if listing.active %}
            <small>{{ listing.bids.count }} bid(s) so far.</small>
        {% else %}
            <small>Auction over after {{ listing.bids.count }} bid(s).</small>
        {% endif %}

        {% if listing.active and user.is_authenticated %}
            {% if user == listing.seller %}
                <form action="{% url 'close' listing.id %}" method="post">
                    {% csrf_token %}
                    <input class="btn btn-primary" type="submit" value="Close Auction">
                </form>
                <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">

                    {% for bid in listing.bids.all %}
                    
                        <div class="col mb-3" >
                            <div class="card">
                                <a href="{# url 'profile' bod.bidder.id #}">
                                    <div class="card-header">{{ bid.bidder }}</div>
                                    <div class="row no-gutters">
                                        <div class="card-body flex-container">
                                            {% if bid.bidder.image_url %}
                                                <div class="col-md-4">
                                                    <img src="{{ bid.bidder.image_url }}" class="card-img" alt="{{ bid.bidder }}">
                                                </div>
                                                <div class="col-md-8">
                                            {% else %}
                                                <div class="col-md-12">
                                            {% endif %}
                                                    <p class="card-text"><strong>bid: </strong>${{ bid.amount }}/h</p>
                                                    <p class="card-title">{{ bid.pitch }}</p>
                                                    {% if bid.bidder.specialtylist.all %}
                                                        <p class="card-text"><strong>Specialties: </strong>{{ bid.bidder.specialtylist.all|join:", " }}</p>
                                                    {% endif %}

                                                    <form action="{% url 'close' listing.id %}" method="post">
                                                        {% csrf_token %}
                                                        <input type="hidden" class="form-control" name="bid_winner" value="{{ bid.bidder.id }}">
                                                        <input class="btn-sm btn-primary" type="Submit" name="choose" value="Choose Tutor">
                                                    </form>
                                                </div>
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <small class="text-muted">Next Available</small>
                                    </div>
                                </a>
                            </div>
                        </div>
                    {% empty %}
                        No active bids.
                    {% endfor %}
                </div>
            {% elif my_bids %}
                <h4>My Bid</h4>
                {% if listing.bid_winner.id == user.id %}
                    <small>Your bid is the current bid.</small>
                {% endif %}
                <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">

                    {% for bid in my_bids %}
                    
                        <div class="col mb-3" >
                            <div class="card">
                                <a href="{# url 'profile' bod.bidder.id #}">
                                    <div class="card-header">{{ bid.bidder }}</div>
                                    <div class="row no-gutters">
                                        <div class="card-body flex-container">
                                            {% if bid.bidder.image_url %}
                                                <div class="col-md-4">
                                                    <img src="{{ bid.bidder.image_url }}" class="card-img" alt="{{ bid.bidder }}">
                                                </div>
                                                <div class="col-md-8">
                                            {% else %}
                                                <div class="col-md-12">
                                            {% endif %}
                                                    <p class="card-text"><strong>bid: </strong>${{ bid.amount }}/h</p>
                                                    <p class="card-title">{{ bid.pitch }}</p>
                                                    {% if bid.bidder.specialtylist %}
                                                        <p class="card-text"><strong>Specialties: </strong>{{ bid.bidder.specialtylist.all|join:", " }}</p>
                                                    {% endif %}
                                                </div>
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <small class="text-muted">Next Available: {{ listing.created_on }}</small>
                                    </div>
                                </a>
                            </div>
                        </div>
                    {% empty %}
                        No active bids.
                    {% endfor %}
                </div>
            {% else %}
                <form action="{% url 'bid' listing.id %}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <input class="form-control" type="number" placeholder="Bid Amount" name="bid">
                        <input type="text" class="form-control" name="pitch" placeholder="How will you help this user?">
                    </div>
                    <input class="btn btn-primary" type="Submit" value="Place Bid">
                </form>
            {% endif %}
            
        {% elif user.is_authenticated %}
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
                {% for bid in listing.bids.all %}
                    {% if bid.bidder.id is listing.bid_winner.id %}
                        <div class="col mb-3" >
                            <div class="card">
                                <a href="{% url 'profile' bid.bidder.id %}">
                                    <div class="card-header">{{ bid.bidder }}</div>
                                    <div class="row no-gutters">
                                        <div class="card-body flex-container">
                                            {% if bid.bidder.image_url %}
                                                <div class="col-md-4">
                                                    <img src="{{ bid.bidder.image_url }}" class="card-img" alt="{{ bid.bidder }}">
                                                </div>
                                                <div class="col-md-8">
                                            {% else %}
                                                <div class="col-md-12">
                                            {% endif %}
                                                    <p class="card-text"><strong>bid: </strong>${{ bid.amount }}/h</p>
                                                    <p class="card-title">{{ bid.pitch }}</p>
                                                    {% if bid.bidder.specialtylist.all %}
                                                        <p class="card-text"><strong>Specialties:</strong> {{ bid.bidder.specialtylist.all|join:", " }}</p>
                                                    {% endif %}
                                                </div>
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <small class="text-muted">Next Available: {{ listing.created_on }}</small>
                                    </div>
                                </a>
                            </div>
                        </div>
                    {% endif %}
                {% empty %}
                    No active bids.
                {% endfor %}
            </div>
        {% endif %}
        
        <br/>

        {% if user.is_authenticated and not listing.active %}
            <h4>Reviews</h4>

            <ul class="list-group">
                {% for comment in comments %}
                    <li class="list-group-item">
                        <div>
                            <strong>{{ comment.commenter.username }}</strong>: {{ comment.content }}
                        </div>
                        <small>{{ comment.creation_time }}</small>
                    </li>
                {% empty %}
                    <li class="list-group-item">No reviews.</li>
                {% endfor %}
            </ul>

            <form action="{% url 'comment' listing.id %}" method="post">
                {% csrf_token %}
                <input type="text" class="form-control" name="comment" placeholder="Comment">
                <input class="btn-sm btn-primary" type="Submit" value="Post New Comment">
            </form>
        {% endif %}
    </div>

{% endblock %}