{% extends "auctions/layout.html" %}

{% block body %}

  <div class="container">
    <h2>{{ title }}</h2>

    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
      {% for tutor in tutors %}
    
        <div class="col mb-3" >
          <div class="card">
            <a href="{% url 'profile' tutor.id %}">
              <div class="card-header">{{ tutor }}</div>

              <div class="row no-gutters">
                <div class="card-body flex-container">
                  {% if tutor.image_url %}
                  <div class="col-md-4">
                      <h5 class="card-title">{{ tutor }}</h5>
                      <img src="{{ tutor.image_url }}" class="card-img" alt="{{ tutor }}">
                    </div>
                    <div class="col-md-8">
                      {% else %}
                      <div class="col-md-12">
                        <h5 class="card-title">{{ tutor }}</h5>
                  {% endif %}
                      <p class="card-text">{{ tutor.tagline }}</p>
                    </div>
                </div>
              </div>

              <div class="card-footer">
                <small class="text-muted">Specialties: {{ tutor.specialtylist.all|join:", " }}</small>
              </div>

            </a>
          </div>
        </div>
      {% empty %}
        No active tutors.
      {% endfor %}
    </div>
    
    <!-- pagination functionality -->
    {% if tutors.has_other_pages %}
      <ul class="pagination">
        {% if tutors.has_previous %}
          <li><a href="?page={{ tutors.previous_page_number }}">prev</a></li>
        {% else %}
          <li class="disabled"><span>prev</span></li>
        {% endif %}
        {% for i in tutors.paginator.page_range %}
          {% if tutors.number == i %}
            <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
          {% else %}
            <li><a href="?page={{ i }}">{{ i }}</a></li>
          {% endif %}
        {% endfor %}
        {% if tutors.has_next %}
          <li><a href="?page={{ tutors.next_page_number }}">next</a></li>
        {% else %}
          <li class="disabled"><span>next</span></li>
        {% endif %}
      </ul>
    {% endif %}
  </div>

{% endblock %}